<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Produtos</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Descricao</th>
        <th>Preco</th>
        <th>Quantidade</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Camiseta Geek</td>
        <td>Camiseta do Big Bang Theory</td>
        <td>30</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Camiseta Social</td>
        <td>Camiseta vermelha com botoes</td>
        <td>120</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
</body>

</html>